PORT=Colocar el puerto de conexión
ADMIN_NAME=Colocar el nombre de usuario/email del admin
ADMIN_PASSWORD=Colocar la contraseña del admin
NODEMAILER_USER=Colocar el email desde donde se enviará el email
NODEMAILER_PASS=Colocar la contraseña de app
PERSISTANCE=FILES