<div class="container mt-5">
    <h1>Carrito ID: {{cid}}</h1>
    <ul class="list-group">
        {{#each products}}
            <li class="list-group-item">
                <span>{{this.product._id}}</span>
            </li>
        {{/each}}
    </ul>
</div>