<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="w-25 p-4 bg-primary bg-gradient text-dark bg-opacity-25 rounded-5">
        <form id="form-restore">
            <h1 class="display-6 text-center">Restaurar contraseña</h1>
            <p>Ingrese su email, se le enviará un correo de confirmación para restaurar su contraseña</p>
            <div class="mb-3">
                <label for="password" class="form-label">Nueva contraseña</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su nueva contraseña">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repita la contraseña</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Repita su nueva contraseña">
            </div>
            <div class="mb-3 d-flex justify-content-between align-item-center">
                <button type="submit" class="btn btn-primary">Restaurar contraseña</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/changePassword.js"></script>
<script src="/js/hasEmptyValues.js"></script>