<div class="container my-5">
    <h1 class="my-3">Chat</h1>
    <input type="text" name="message" id="chatBox" class="form-control">
    <div class="my-5">
        <p id="messageLogs"></p>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script> {{!Importo dependencia de socket.io}}
<script src="/js/chat.js"></script>{{!Importo archivo .js del cliente}}